<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- One APK for phones and TVs: neither a touchscreen nor Leanback is
         required, so Play offers it to both. -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="OGPlayer demos"
        android:banner="@drawable/og_tv_banner"
        android:theme="@style/Theme.OGDemos">

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.ogplayer.cast.OGCastOptionsProvider" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:supportsPictureInPicture="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Android TV / Google TV / Fire TV entry: the same demos on the
             remote-control chrome (OGInputMode.REMOTE). Deep-launch a route
             with `-e og.demo <route>` exactly like MainActivity. -->
        <activity
            android:name=".MainTvActivity"
            android:exported="true"
            android:banner="@drawable/og_tv_banner"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
